<!DOCTYPE html>
<html>
<head>
  <title>Texter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="nav navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <ul class="main-nav list-unstyled">
          <li><%= link_to "Texter", root_path, class: 'navbar-brand' %></li>
        </ul>
      </div>
      <ul class="nav navbar-nav navbar-left">
        <% if user_signed_in? %>
          <li><%= link_to current_user.email, user_path(current_user) %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to "Your Messages", messages_path %></li>
          <li><%= link_to "Address Book", addresses_path %></li>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%=  link_to "Sign Up", new_user_registration_path %></li>
          <li><%=  link_to "Sign In", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>

<%= flash[:success] %>
<%= flash[:danger] %>
<div>
<%= yield %>
</div>


</body>
</html>
